In [3]:
print("How are You")

How are You

In [4]:
print("How\ are you")

How\ are you

In [5]:
print("How\n are you")

How
 are you

In [6]:
phrase = "Data Science"

In [7]:
print(phrase)

Data Science

In [10]:
print(phrase+" is cool")

Data Science is cool

In [11]:
print(phrase.lower())

data science

In [12]:
print(phrase.upper())

DATA SCIENCE

In [14]:
print(phrase.isupper())

False

In [15]:
print(phrase)

Data Science

In [16]:
print(phrase.upper().isupper())

True

In [18]:
print(len(phrase))

12

In [19]:
print(phrase[0])

D

In [20]:
print(phrase[-1])

e

In [21]:
print(phrase.index("S"))

5

In [22]:
print(phrase.index("a"))

1

In [23]:
print(phrase.index("Science"))

5

In [24]:
print(phrase.index("G"))

ValueError: substring not found

In [25]:
print(phrase.replace("Science","Coding"))

Data Coding

In [26]:
print(2.0987)

2.0987

In [27]:
print(-2)

-2

In [30]:
print(3*4.9)

14.700000000000001

In [31]:
print(10%3)

1

In [32]:
my_num = 5
print(my_num)

5

In [34]:
print(str(my_num)+" my favourite")

5 my favourite

In [35]:
n = -5
print(abs(n))

5

In [36]:
print(pow(my_num,2))

25

In [37]:
print(pow(4,2))

16

In [38]:
print(min(4,2))

2

In [42]:
print(round(3.7))

4

In [47]:
from math import *
# math module

In [44]:
print(floor(3.17))

3

In [45]:
print(ceil(3.17))

4

In [46]:
print(sqrt(36))

6.0

In [53]:
name = input("Enter Your Name ")

Enter Your Name Arka

In [52]:
print("Hello "+name)

Hello Arka

In [54]:
# Building Calculator

In [55]:
num1 = input("Enter a Number: ")
num2 = input("Enter second Number")

Enter a Number: 5
Enter second Number2

In [60]:
result = num1 + num2
result

'52'

In [62]:
num1 = input("Enter a Number: ")
num2 = input("Enter second Number")
result = int(num1) + int(num2)
print(result)

Enter a Number: 5
Enter second Number2
7

In [63]:
num1 = input("Enter a Number: ")
num2 = input("Enter second Number")
result = float(num1) + float(num2)
print(result)

Enter a Number: 5.5
Enter second Number3.2
8.7

In [66]:
color = input("Enter a Color")
plural_noun= input("Enter a noun ")
print("Roses are "+ color)
print(plural_noun+" are blue")

Enter a ColorRed
Enter a noun Magenta
Roses are Red
Magenta are blue

In [67]:
#List

In [71]:
friends = ["Soham","Anik","Srijit",5, False]

In [69]:
friends[2]

'Srijit'

In [72]:
print(friends)

['Soham', 'Anik', 'Srijit', 5, False]

In [73]:
print(friends[-1])

False

In [74]:
print(friends[1:])

['Anik', 'Srijit', 5, False]

In [75]:
print(friends[2:4])

['Srijit', 5]

In [76]:
print(friends[:])

['Soham', 'Anik', 'Srijit', 5, False]

In [77]:
friends[3]= "Ankush"

In [78]:
friends

['Soham', 'Anik', 'Srijit', 'Ankush', False]

In [79]:
lucky_num = [1,2,3,4,5,6]

In [80]:
friends.append("Creed")

In [81]:
friends

['Soham', 'Anik', 'Srijit', 'Ankush', False, 'Creed']

In [83]:
friends.insert(2,"Kelvin")

In [84]:
friends

['Soham', 'Anik', 'Kelvin', 'Srijit', 'Ankush', False, 'Creed']

In [85]:
friends.remove("Ankush")

In [86]:
friends

['Soham', 'Anik', 'Kelvin', 'Srijit', False, 'Creed']

In [87]:
friends.clear()

In [88]:
friends

[]

In [89]:
friends = ["Soham","Anik","Srijit",5, False]

In [90]:
friends.pop()
friends

['Soham', 'Anik', 'Srijit', 5]

In [92]:
print(friends.index("Srijit"))

2

In [93]:
print(friends.index("Mike"))

ValueError: 'Mike' is not in list

In [94]:
friends.append("Soham")

In [95]:
print(friends.count("Soham"))

2

In [97]:
lucky_num.sort()

In [2]:
print(lucky_num)

NameError: name 'lucky_num' is not defined

In [3]:
lucky_num= [8,4,9,3,5]

In [7]:
lucky_num.reverse()

In [8]:
print(lucky_num)

[5, 3, 9, 4, 8]

In [10]:
friends = ["Soham","Anik","Srijit",5, False]
friends2= friends.copy()

In [11]:
friends2

['Soham', 'Anik', 'Srijit', 5, False]

In [2]:
coordinates = (4, 5) # tuples immutable

In [4]:
print(coordinates[1])

5

In [5]:
print(coordinates[0])

4

In [6]:
coordinates[1]=10

TypeError: 'tuple' object does not support item assignment

In [7]:
#list are mutable but tuples cannot. Tuple mostly used for static data

In [8]:
coordinates = [(4, 5),(6,7),(80,34)]

In [12]:
coordinates[2]

(80, 34)

# Functions

In [16]:
def sayhi():
    print("Hello User")
print("Top")
sayhi()
print("Bottom")

Top
Hello User
Bottom

In [17]:
sayhi()

Hello User

In [19]:
def say_hi(name):
    print("Hello "+name)
say_hi("ARka")

Hello ARka

In [22]:
def cube(num):
    return num*num*num
    print("code")
    
print(cube(3))

27

# if_else

In [23]:
is_male = True

if is_male:
    print("Your are male")

Your are male

In [27]:
is_male = True
is_tall = False
if is_male and is_tall:
    print("Your are male and tall")
else:
    print("You are not male nor tall")

You are not male nor tall

In [32]:
is_male = False
is_tall = False
if is_male and is_tall:
    print("Your are male and tall")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not male but tall")
else:
    print("You are not male and not tall")

You are not male and not tall

# Comparison Operators

In [34]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
    
print(max_num(30,40,5))

40

# Building a Better Calculator

In [37]:
num1 = float(input("Enter 1st Number"))
op = input("Enter operator")
num2 = float(input("Enter 2nd Number"))
if(op == '+'):
    print(num1+num2)
if(op == '-'):
    print(num1-num2)
if(op =='*'):
    print(num2*num1)

Enter 1st Number6
Enter operator*
Enter 2nd Number5.23
31.380000000000003

# Dictionaries

In [40]:
monthconversion = {
    "Jan":"Januray",
    "Feb":"February",
    "Mar":"March",
    "Jun":"June",
    "Jul":"July",
}
print(monthconversion["Jun"])

June

In [46]:
print(monthconversion.get("Magr","Not a valid key"))

Not a valid key

# While Loop

In [49]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [54]:
secret_word = "graffiti"  # Guessing Game
guess = ""
guess_count = 0
while(guess != secret_word):
    guess = input("Enter Guess ")
    guess_count += 1
print("you win "+ str(guess_count))

Enter Guess graffiti
you win1

# For Loop

In [55]:
for letter in "Graffiti":
    print(letter)

G
r
a
f
f
i
t
i

In [56]:
friends = ["jim","Karen","Kevin"]
for f in friends:
    print(f)

jim
Karen
Kevin

In [61]:
for index in range(1,11):
    print(index)

1
2
3
4
5
6
7
8
9
10

In [63]:
for index in range(1,11,2):
    print(index)

1
3
5
7
9

In [64]:
for index in range(len(friends)):
    print(friends[index])

jim
Karen
Kevin

In [65]:
len(friends)

3

In [66]:
print(2**3)

8

In [72]:
def raise_to_power (base, power):
    result =1
    for index in range(power):
        result = result * base
    return result

In [73]:
print(raise_to_power(2,3))

8

# 2D list

In [74]:
number_grid =[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

In [76]:
print(number_grid[0][1])

2

In [78]:
print(number_grid[3][0])

0

In [79]:
# Nested For loop

In [80]:
for row in number_grid:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [81]:
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [82]:
# exception

In [90]:
try:
#     value = 10/0
    number = int(input("Enter a Number:"))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError as err1:
    print(err1)

Enter a Number:shakl
invalid literal for int() with base 10: 'shakl'

In [85]:
value = 10/0

ZeroDivisionError: division by zero

# Reading From File

In [94]:
open("demo.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: 'demo.txt'